<?php

return [
    'telegram' => [
        'token' => ''
    ],
    'dependencies' => [
        'factories' => [
            Telegram\Http\Client::class => Telegram\Container\ClientFactory::class,
        ],
    ],
];